table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  th {
    text-align: left;
    font-size: large;
    padding: 30px;
  }
  .col-show {
    opacity: 1;
    color: #EB1D36;
  }
  .col-hide {
    opacity: 0;
  }
  
  
  .table-glow{
    color: black;
    background-color: #EFBBCF;
    font-weight: 900;
  
  }